:root{
    --color1:#480CA8;
    --color2:#560BAD;
    --color3:#7209B7;
    --color4:#B5179E;
    --pink1:#F72585;
    --dark-grey:#2B2D42;

    --gradient: linear-gradient(to left,var(--color1),var(--pink1));

    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{ /*clearing default formatting*/
    margin: 0;
    padding: 0;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

body{
    font-family: var(--font);
    font-size: 1em;
    background-color: var(--dark-grey);
}

.body-div{
    width: auto;
    max-width: 100%;

    display:flex;
    align-items: center;
    justify-content: center;

    /* border: solid green 2px; */
}

#hdr-div{
    background-image: var(--gradient);
    padding: 3.5vh;
    flex-direction: column;
    /* border-bottom: solid white 7vh; */
}


h1{
    margin-top: 0px;
    font-size: 7em;  
    font-weight: 600;
    color:white;
}

h1 span{ 
    font-size: 1em; 
    font-weight: 200;
}

#menu-div{
    margin-top: 4vh;
    justify-content: space-between;
    width: 70%;
}

a{
    position:relative;
    bottom: .3vh;
    font-size: 1.85em;
    font-weight: 200;
    color: white;
    text-decoration: none;

    padding: .5vh 1.5vw;
    padding-top: .1vh;

    transition-duration: 0.2s;
}

a:hover{
    background-color: white;
    color: var(--color4);
    mix-blend-mode: hard-light;
}

a:nth-child(1){
    background-color: white;
    color: var(--color4);
    mix-blend-mode: hard-light;
}

.menu-divisor{
    background-color: white;
    height: 3vh;
    width: .05vw;
}